<p align="center">
	<img src="/assets/img/Dark.png"><br><div class="myDiv2">Tu aliado regional para pagos online</div>
</p>
<br>
<!--<table class="homeTable">
	<tr>
		<td align="right" width="21%">
			<img src="/assets/img/Dark.png">
		</td>
		<td align="left">
			<div class="myDiv2">&nbsp;&nbsp;Tu aliado regional para pagos online</div>
		</td>
	</tr>
</table>-->
<p>
	Presentación de funcionalidades de las librerías Front ofrecidas por Kushki. Los flujos de pago se encuentran generalizados y configurados para ser probados con una cuenta de Colombia, sin embargo estas funcionalidades son exactamente iguales para los otros países, a excepción de los flujos para PSE, WebPay, y WebPay OneClick.
</p>
<p>
	Estos tres flujos se presentarán de forma independiente ya que su comportamiento es específico para los países en los que se ofrece, Colombia para PSE, y Chile para WebPay y WebPay OneClick.
</p>
<!--<p>
	Las librerías para Front ofrecidas por Kushki Pagos son:
</p>-->
<div align="center">
	<table class="myTable">
		<tr>
			<th><img src="/assets/img/Cajita.svg" width="20px">&nbsp;&nbsp;<a href="/cajita" class="aHome">Cajita</a></th>
			<th><img src="/assets/img/Cajita.svg" width="20px">&nbsp;&nbsp;<a href="/kajita" class="aHome">Kajita</a></th>
			<th><img src="/assets/img/Cajita.svg" width="20px">&nbsp;&nbsp;<a href="/kushkijs" class="aHome">Kushki.js</a></th>
		</tr>
		<tr>
			<td>Ofrece un formulario predefinido, <span class="remark">no modificable</span>, con los campos requeridos para cada medio de pago.</td>
			<td>Ofrece un formulario predefinido, <span class="remark">mínimamente modificable</span>, con los campos requeridos para cada medio de pago.</td>
			<td>Ofrece los métodos de generación de peticiones hacia Kushki con la posiblidad de <span class="remark">desarrollar el Look & Feel</span> del formulario para acoplarlo a la pagina en la cual se presentará.</td>
		</tr>
		<tr>
			<td align="center"><a href="/cajita"><img src="/assets/img/cajita.png" height="350px"></a></td>
			<td align="center"><a href="/kajita"><img src="/assets/img/kajita.png" height="350px"></a></td>
			<td align="center"><a href="/kushkijs"><img src="/assets/img/kushkijs.png" height="350px"></a></td>
		</tr>
	</table>
</div>