<h1>Kushki.js</h1>
<h2 class="myH2">- Suscripciones Calendarizadas -</h2>
<form id="payment-form" method="post">
    <label>Número de Tarjeta*: </label>
    <input placeholder="Número de Tarjeta" type="text" id="number" name="number" required><br><br>
    <label>Nombre y Apellido*: </label>
    <input placeholder="Nombre y Apellido" type="text" id="name" name="name" required><br><br>
    <label>Mes de Expiración*: </label>
    <input placeholder="MM" type="text" id="expirationMonth" name="expirationMonth" required><br><br>
    <label>Año de Expiración*: </label>
    <input placeholder="YY" type="text" id="expirationYear" name="expirationYear" required><br><br>
    <label>Código de Seguridad (cvv)*: </label>
    <input placeholder="Código de Seguridad (cvv)" type="password" id="cvv" name="cvv" required><br><br>
    <div align="center"><input type="submit" id="button" value="Registrar Tarjeta"></div>
</form>