<mat-toolbar> 
  <a href="/"><img src="/assets/img/Light.png" width="90px"></a>
  <hr class="vertical" />
  <h2>Visualización Integraciones Front</h2>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8">
    <a class="aHome" href="/">Inicio</a><br><br>
    &nbsp;&nbsp;<a href="/subscriptions">Suscripciones</a><br>
    &nbsp;&nbsp;<a href="/onDemand">Pagos Bajo Demanda</a><br>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<section class="footer">
  <table>
    <tr>
      <td align="center">
        <span class="foot">Sales Engineering Team |&nbsp;</span><a href="https://www.kushki.com" class="aFooter" target="_blank">Kushki Pagos</a><span class="foot">&nbsp;| &#169; 2021 - 2022</span>
      </td>
      <td>
        <div class="myDiv" align="right"><img src="/assets/img/Horizontal_White.svg" width="150px"></div>
      </td>
    </tr>
  </table>
</section>